<div class="flex flex-grow">
  <nav class="sidebar hidden xl:flex">
    <svg-icon name="logo" svgClass="max-w-[175px] mt-10" ></svg-icon>
    
    <div class="menu-item mt-20">
      <div class="icon"></div>
      <div class="text">
        <svg-icon name="my-thermovision" svgClass="!w-[150px]"></svg-icon>
      </div>
    </div>
    <div class="menu-item">
      <div class="icon">
        <svg-icon name="user-fill-2"></svg-icon>
      </div>
      <div class="text">
        <a href="#">My profile</a>
        <div class="mi-info">no active plan</div>
      </div>
    </div>
    <div class="menu-item">
      <div class="icon">
        <svg-icon name="dermatology"></svg-icon>
      </div>
      <div class="text">
        <a href="#">Skin Type</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="icon">
        <svg-icon name="body"></svg-icon>
      </div>
      <div class="text">
        <a href="#">Risk assessment</a>
        <div class="mi-info">complete profile 80%</div>
      </div>
    </div>
    <div class="menu-item">
      <div class="icon">
        <svg-icon name="settings-check"></svg-icon>
      </div>
      <div class="text">
        <a href="#">Notification settings</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="icon">
        <svg-icon name="help-2"></svg-icon>
      </div>
      <div class="text">
        <a href="#">Customer support</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="icon">
        <svg-icon name="log-out"></svg-icon>
      </div>
      <div class="text">
        <a href="#">Log out</a>
      </div>
    </div>
    
    <div class="section flex-grow flex flex-col justify-end items-center">
      <img src="assets/images/logo-unicolor.svg" alt="logo Thermovision">
      <p class="copy">2021 Copyright &copy; Thermovision</p>
    </div>
  </nav>

  <div class="flex-grow">
    <header class="header">
      <button (click)="navOpen = ! navOpen" class="flex items-center text-gray-500 xl:hidden">
        <svg *ngIf=" ! navOpen" class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        <svg *ngIf="navOpen" class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
      </button>

      <nav class="sidebar xl:hidden" *ngIf="navOpen">
        <div class="menu-item mt-20">
          <div class="icon"></div>
          <div class="text">
            <svg-icon name="my-thermovision" svgClass="!w-[150px]"></svg-icon>
          </div>
        </div>
        <div class="menu-item">
          <div class="icon">
            <svg-icon name="user-fill-2"></svg-icon>
          </div>
          <div class="text">
            <a href="#">My profile</a>
            <div class="mi-info">no active plan</div>
          </div>
        </div>
        <div class="menu-item">
          <div class="icon">
            <svg-icon name="dermatology"></svg-icon>
          </div>
          <div class="text">
            <a href="#">Skin Type</a>
          </div>
        </div>
        <div class="menu-item">
          <div class="icon">
            <svg-icon name="body"></svg-icon>
          </div>
          <div class="text">
            <a href="#">Risk assessment</a>
            <div class="mi-info">complete profile 80%</div>
          </div>
        </div>
        <div class="menu-item">
          <div class="icon">
            <svg-icon name="settings-check"></svg-icon>
          </div>
          <div class="text">
            <a href="#">Notification settings</a>
          </div>
        </div>
        <div class="menu-item">
          <div class="icon">
            <svg-icon name="help-2"></svg-icon>
          </div>
          <div class="text">
            <a href="#">Customer support</a>
          </div>
        </div>
        <div class="menu-item">
          <div class="icon">
            <svg-icon name="log-out"></svg-icon>
          </div>
          <div class="text">
            <a href="#">Log out</a>
          </div>
        </div>
        
        <div class="section flex-grow flex flex-col justify-end items-center">
          <img src="assets/images/logo-unicolor.svg" alt="logo Thermovision">
          <p class="copy">2021 Copyright &copy; Thermovision</p>
        </div>
      </nav>

      <!-- Logo -->
      <a href="#" class="mx-4 xl:hidden">
        <svg-icon name="logo-text" svgClass="shrink-0 h-10 md:hidden"></svg-icon>
        <svg-icon name="logo-icon" svgClass="shrink-0 h-5 hidden md:block"></svg-icon>
      </a>

      <!-- UV index -->
      <div class="flex-grow">
        <a href="#" class="header-item">
          <div class="inline-flex items-center">
              <svg-icon name="sun-line"></svg-icon>
              <svg-icon name="chevron-down" svgClass="!w-4 !h-4 ml-1"></svg-icon>
          </div>
        </a>
      </div>

      <div class="flex space-x-4 lg:space-x-10">
        <a href="#" class="header-item hidden lg:flex">
          <div class="switch on w-6 h-6">
            <div class="bar"></div>
          </div>
          <span class="large !mt-0">Light mode</span>
        </a>

        <a href="#" class="header-item">
          <svg-icon name="notification-new"></svg-icon>
        </a>

        <button (click)="userOpen = ! userOpen" class="lg:hidden flex items-center">
          <svg-icon name="user-fill-2" svgClass="w-6 h-6"></svg-icon>
          <svg-icon name="actions-menu" svgClass="h-8 w-8"></svg-icon>
        </button>
          
        <button (click)="userOpen = ! userOpen" class="hidden lg:flex items-center justify-between rounded-xl overflow-hidden border border-gray-100 min-w-[225px]">

          <img src="assets/icons/user-fill-2.svg" class="w-6 h-6 ml-2" alt="user icon">
          <div class="flex flex-col justify-evenly p-2 items-start flex-grow">
            <p class="font-medium">Andrei</p>
          </div>
          <div class="shrink-0 mx-2">
            <svg *ngIf="! userOpen" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            <svg *ngIf="userOpen" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
          </div>
        </button>
      </div>

      <div class="user-menu" *ngIf="userOpen">
        <a href="">
          <img src="assets/icons/gmail-logo.svg" class="w-4 h-4 mr-2" alt="logo email">
          2 Messages
        </a>
        <a href="#">
          <img src="assets/icons/notification-bell.svg" class="w-4 h-4 mr-2" alt="logo email">
          1 Reminder
        </a>
      </div>
    </header>

    <main class="content">

      <div class="hidden xl:flex">
        <div class="flex justify-center">
          <div class="text-center text-gray-500">
            <a href="#" class="flex items-center justify-center border border-gray-500 rounded-full py-2 px-8 text-sm hover:bg-gray-500 hover:text-white">
              <svg class="w-7 h-7 shrink-0 mr-3" viewBox="0 0 22 22" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" ><path d="M11 4.813A2.406 2.406 0 1 0 11 0a2.406 2.406 0 0 0 0 4.813ZM18.777 5.5H3.223a1.16 1.16 0 1 0 0 2.32H7.6c.297 0 .645.133.842.645.23.594.117 1.742-.025 2.63l-.185 1.051a.018.018 0 0 1-.006.015L6.74 20.619a1.179 1.179 0 0 0 .951 1.364 1.162 1.162 0 0 0 1.35-.958l1.028-5.878s.33-1.396.931-1.396c.611 0 .934 1.396.934 1.396l1.027 5.883a1.171 1.171 0 1 0 2.304-.412l-1.487-8.457a.02.02 0 0 0-.004-.015l-.186-1.05c-.142-.89-.255-2.037-.025-2.631.196-.51.555-.645.829-.645h4.385a1.16 1.16 0 0 0 0-2.32V5.5Z"/></g><defs><clipPath id="a"></clipPath></defs></svg>
              My body
            </a>
          </div>
          <div class="text-center text-thermoTeal-500 mx-6">
            <a href="#" class="flex items-center justify-center border border-thermoTeal-500 rounded-full py-2 px-8 text-sm hover:bg-thermoTeal-500 hover:text-white">
              <svg class="w-7 h-7 shrink-0 mr-3" viewBox="0 0 26 20" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.279 16.346a1.619 1.619 0 0 1-1.619 1.619H3.237a1.618 1.618 0 0 1-1.618-1.619V6.635a1.619 1.619 0 0 1 1.618-1.619h1.897a4.856 4.856 0 0 0 3.432-1.423l1.343-1.34a1.619 1.619 0 0 1 1.141-.474h3.794c.43 0 .841.17 1.144.474l1.34 1.34a4.856 4.856 0 0 0 3.435 1.423h1.897a1.619 1.619 0 0 1 1.619 1.619v9.711ZM3.237 3.398A3.237 3.237 0 0 0 0 6.635v9.711a3.237 3.237 0 0 0 3.237 3.238H22.66a3.237 3.237 0 0 0 3.237-3.238V6.635a3.237 3.237 0 0 0-3.237-3.237h-1.897a3.237 3.237 0 0 1-2.288-.949l-1.34-1.34a3.237 3.237 0 0 0-2.29-.949h-3.793c-.859 0-1.682.342-2.289.949l-1.34 1.34a3.237 3.237 0 0 1-2.289.949H3.237Z" /><path d="M12.949 14.728a4.047 4.047 0 1 1 0-8.094 4.047 4.047 0 0 1 0 8.094Zm0 1.618a5.665 5.665 0 1 0 0-11.33 5.665 5.665 0 0 0 0 11.33Z"/></svg>
              Take photo
            </a>
          </div>
          <div class="text-center text-gray-500">
            <a href="#" class="flex items-center justify-center border border-gray-500 rounded-full py-2 px-8 text-sm hover:bg-gray-500 hover:text-white">
              <svg class="w-7 h-7 shrink-0 mr-3" viewBox="0 0 23 22" fill="currentColor" stroke="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.569 15.333v4.844h4.843v1.656h-6.5v-6.5h1.657Zm20.01 0v6.5h-6.5v-1.656h4.843v-4.844h1.656ZM6.87 5.583a4.877 4.877 0 0 0 3.792 4.755v6.079h2.166l.002-6.08a4.877 4.877 0 0 0 3.79-4.754h1.625c0 1.289-.096 2.404-.765 3.505-.668 1.102-1.915 2.082-3.058 2.677l.031 6.818-5.512.064v-6.882c-1.143-.595-2.39-1.575-3.059-2.677-.668-1.102-.765-2.216-.764-3.505H6.87Zm4.875-2.166a2.708 2.708 0 1 1 0 5.416 2.708 2.708 0 0 1 0-5.416ZM7.412.167v1.657H2.569v4.843H.912v-6.5h6.5Zm15.166 0v6.5h-1.656V1.824h-4.844V.167h6.5Z" /></svg>
              Thermographies
            </a>
          </div>
        </div>
      </div>

      <div class="flex xl:mt-12 md:max-w-screen-md md:mx-auto xl:mx-0">
        <div class="flex-grow flex flex-col justify-center items-center">
          <img *ngIf="modelFrontVisible" src="assets/images/man-front.svg" alt="man front">
          <img *ngIf=" ! modelFrontVisible" src="assets/images/man-back.svg" alt="man back">

          <div class="flex items-center justify-center mt-16">
            <div class="info relative flex items-center">
              <button class="" (click)="infoOpen = ! infoOpen">
                <svg-icon name="info" svgClass="w-8 h-8"></svg-icon>
              </button>
              <div class="info-menu absolute bottom-[125%] -left-[50%] z-50" *ngIf="infoOpen">
                  <div class="im-item whitespace-nowrap">
                    <svg-icon name="pinch-zoom" svgClass="w-6 h-6 mr-2"></svg-icon>
                    Pinch to zoom
                  </div>
                  <div class="im-item whitespace-nowrap">
                    <svg-icon name="tap" svgClass="w-6 h-6 mr-2"></svg-icon>
                    Add a new spot by tapping on the body
                  </div>
                  <a href="#" class="im-item whitespace-nowrap">
                    <svg-icon name="file-history" svgClass="w-6 h-6 mr-2"></svg-icon>
                    see history - 64 spots front
                  </a>
              </div>
            </div>
    
            <div class="isolate inline-flex rounded-full shadow-sm mx-6">
                <button type="button" 
                  class="relative inline-flex items-center rounded-l-full border border-gray-400 bg-white px-5 py-3 text-sm text-gray-700 focus:z-10 focus:border-thermoBlue-500 focus:outline-none focus:ring-1 focus:ring-thermoBlue-500"
                  [class]="modelFrontVisible ? 'bg-gray-200' : 'bg-white'"
                  (click)="modelFrontVisible = true"
                >
                  Front Body
                </button>
                <button type="button" 
                  class="relative -ml-px inline-flex items-center rounded-r-full border border-gray-400 bg-white px-5 py-3 text-sm text-gray-700 focus:z-10 focus:border-thermoBlue-500 focus:outline-none focus:ring-1 focus:ring-thermoBlue-500"
                  [class]="modelFrontVisible ? 'bg-white' : 'bg-gray-200'"
                  (click)="modelFrontVisible = false"
                >
                  Back Body
                </button>
            </div>
    
            <div class="flex items-center">
              <button (click)="addSpotOpen = true">
                <svg-icon name="plus-new" svgClass="w-8 h-8 text-thermoTeal-500"></svg-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="flex flex-col mt-10">
            <a href="#">
              <svg-icon name="list" svgClass="w-6 h-6"></svg-icon>
            </a>
            <a href="#" class="mt-4">
              <svg-icon name="stats" svgClass="w-6 h-6"></svg-icon>
            </a>
            <button class="mt-4" (click)="bodyPartsOpen = true" *ngIf=" ! bodyPartsOpen">
              <svg-icon name="body" svgClass="w-6 h-6"></svg-icon>
            </button>
            <div *ngIf="bodyPartsOpen" class="text-thermoBlue-500 flex flex-col">
              <button class="mt-4">
                <svg-icon name="body-head" svgClass="w-6"></svg-icon>
              </button>
              <button class="mt-4">
                <svg-icon name="body-hand" svgClass="w-6"></svg-icon>
              </button>
              <button class="mt-4">
                <svg-icon name="body-foot" svgClass="w-6"></svg-icon>
              </button>
              <button class="mt-4">
                <svg-icon name="body-full" svgClass="w-6"></svg-icon>
              </button>
              <button class="mt-4">
                <svg-icon name="refresh" svgClass="w-6"></svg-icon>
              </button>
            </div>
        </div>
      </div>

    </main>

    <footer class="mt-8 border-t border-slate-300 p-3 xl:hidden">
      <div class="flex justify-center">
        <div class="text-[10px] text-center text-gray-500">
          <a href="#" class="flex items-center justify-center border border-gray-500 rounded-full py-2 px-5 hover:bg-gray-500 hover:text-white">
            <svg-icon name="body" svgClass="w-5 h-5 shrink-0"></svg-icon>
          </a>
          my body
        </div>
        <div class="text-[10px] text-center text-thermoTeal-500 mx-6 md:mx-16">
          <a href="#" class="flex items-center justify-center border border-thermoTeal-500 rounded-full py-2.5 px-8 hover:bg-thermoTeal-500 hover:text-white">
            <svg-icon name="camera" svgClass="w-6 h-6 shrink-0"></svg-icon>
          </a>
        </div>
        <div class="text-[10px] text-center text-gray-500">
          <a href="#" class="flex items-center justify-center border border-gray-500 rounded-full py-2 px-5 hover:bg-gray-500 hover:text-white">
            <svg-icon name="thermographies" svgClass="w-5 h-5 shrink-0"></svg-icon>
          </a>
          thermographies
        </div>
      </div>
    </footer>
  </div>

  <div class="info-menu centered-menu text-sm py-4 px-8" *ngIf="addSpotOpen">
    <div class="text-center">Spot selected <a href="#" class="link">Left Hand - Front</a></div>
    <button class="btn blue mt-4 min-w-0 inline-flex mx-auto">
      <svg-icon name="check-square" svgClass="w-5 h-5 mr-2"></svg-icon>
      Add spot
    </button>
    <div class="flex justify-center mt-4 pt-3">
      <a href="#" class="link px-3 border-r border-slate-200">Add mole</a>
      <a href="#" class="link px-3">Add skin area</a>
    </div>
  </div>
  
  <div class="fixed top-0 right-4 ml-4 z-[999]">
    <div *ngIf="notification_s" class="rounded-md bg-green-50 p-4 mt-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg-icon name="check" svgClass="h-5 w-5 text-green-400"></svg-icon>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-green-800">Info successfully updated!</p>
        </div>
        <div class="ml-auto pl-3">
          <div class="-mx-1.5 -my-1.5">
            <button (click)="notification_s = ! notification_s" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
              <span class="sr-only">Dismiss</span>
              <svg-icon name="close" svgClass="h-5 w-5"></svg-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="notification_e" class="rounded-md bg-red-50 p-4 mt-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg-icon name="error" svgClass="h-5 w-5 text-red-400"></svg-icon>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-red-800">There was an error!</p>
        </div>
        <div class="ml-auto pl-3">
          <div class="-mx-1.5 -my-1.5">
            <button (click)="notification_e = ! notification_e" class="inline-flex rounded-md bg-red-50 p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2 focus:ring-offset-green-50">
              <span class="sr-only">Dismiss</span>
              <svg-icon name="close" svgClass="h-5 w-5"></svg-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="notification_w" class="rounded-md bg-yellow-50 p-4 mt-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg-icon name="warning" svgClass="h-5 w-5 text-yellow-400"></svg-icon>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-yellow-700">This is a warning!</p>
        </div>
        <div class="ml-auto pl-3">
          <div class="-mx-1.5 -my-1.5">
            <button (click)="notification_w = ! notification_w" class="inline-flex rounded-md bg-yellow-50 p-1.5 text-yellow-500 hover:bg-yellow-100 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2 focus:ring-offset-green-50">
              <span class="sr-only">Dismiss</span>
              <svg-icon name="close" svgClass="h-5 w-5"></svg-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

